@page "/"
@page "/devices"
@inject IDeviceApi DeviceApi
@layout Shared.MainLayout

<h1>Your Devices</h1>

<div id="ticket-list">
    @if (AllDevices == null)
    {
        <h2>Loading your devices...</h2>
    }
    else
    {
        <div class="row">
            @foreach (var device in AllDevices)
            {
                <DeviceCard Device="@device" />
            }
        </div>
    }
</div>


@code {
    private IEnumerable<Device> AllDevices { get; set; }
    [Parameter]
    public Device Device { get; set; }
    protected override async Task OnInitializedAsync()
    {
        AllDevices = await DeviceApi.GetDevicesAsync();
        RefreshDevices();
    }

    private async void RefreshDevices()
    {
        var device = await DeviceApi.GetDeviceAsync(Device.Name);
        AllDevices = await DeviceApi.GetDevicesAsync();
        await DeviceApi.PostDevice(device);
        StateHasChanged();
    }
}
