@page  "/"
@page "/devices"
@inject IDeviceApi DeviceApi
@layout Shared.MainLayout

<h1>Your Devices</h1>

<div id="ticket-list">
    @if (allDevices == null)
    {
        <h2>Loading your devices...</h2>
    }
    else
    {
        <a href="/AddDevice" style="font-size:20px;">Add Device</a>
        if (allDevices.Count() == 0)
        {
            <h2>You have no devices :(</h2>
        }
        else
        {
            <div class="row">
                @foreach (var device in allDevices)
                {
                    <DeviceCard Device="@device" />
                }
            </div>
            if (requests.Count() == 0)
            {
                <h3>No requests for your devices</h3>
            }
            else
            {
                <h3>Requests for devices:</h3>
                <div class="row">
                    @foreach (var register in requests)
                    {
                        <RequestRow Register="@register" />
                    }
                </div>
            }
        }
    }
</div>



@code {
    private IEnumerable<Device> allDevices { get; set; }

    private IEnumerable<Register> requests { get; set; }

    protected override async Task OnInitializedAsync()
    {
        allDevices = await DeviceApi.GetDevicesFromUser(1);
        requests = await DeviceApi.GetRequestsAsync(1);
    }

}
