@page "/profile"
@inject IUserApi UserApi
@layout Shared.MainLayout

<h3>Profile</h3>

<div id="ticket-list">
    @if (User == null)
    {
        <p>Loading user data...</p>
    }
    else
    {
        <table>
            <tr>
                <td>
                    <output>Email: </output>
                </td>
                <td>
                    <output>@User.Email</output>
                </td>
            </tr>
            <tr>
                <td>
                    <output>Username: </output>
                </td>
                <td>
                    <output>@User.Username</output>
                </td>
            </tr>
            <tr>
                <td>
                    <output>Password: </output>
                </td>
                <td>
                    <output>********_********</output>
                </td>
            </tr>
            <tr>
                <td>
                    <output>Nr. own devices: </output>
                </td>
                <td>
                    <output>@User.OwnDevices?.Count()</output>
                </td>
            </tr>
            <tr>
                <td>
                    <output>Nr. subscribed devices: </output>
                </td>
                <td>
                    <output>@User.SubscribedDevices?.Count()</output>
                </td>
            </tr>
        </table>
    }
    </div>
    @code {

        private IoTUser User { get; set; }

        protected override async Task OnInitializedAsync()
        {
            User = await UserApi.GetUserAsync(0);
        }
    }
