@using IoTPortal.Model
@layout Shared.MainLayout
@inject IDeviceApi  DeviceApi

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Request from: @Register.User.Username</h5>
        <h5 class="card-title">Device: @Register.Dev.Name</h5>
        <p class="card-text">
            <span class="highlight">Request is currently @(Register.Approved ? "" : "not ") approved</span>
        </p>
        <button type="button" @onclick="invertApprove">Approve/Revoke</button>
    </div>
</div>

@code {
    [Parameter]
    public Register Register { get; set; }


    private async Task invertApprove()
    {
        bool approved = !Register.Approved;
        int id = Register.Id;
        Register = await DeviceApi.SetApproved(approved, id);
    }
}
