@page "/search"
@inject IDeviceApi DeviceApi
@layout Shared.MainLayout

<h1>Search</h1>

<div id="ticket-list">
    @if (AllDevices == null)
    {
        <h2>Fetching devices...</h2>
    }
    else
    {
<div class="row">
    @if (AllDevices.Count() == 0)
    {
        <h2>No published devices</h2>
    }
    else
    {
        <div class="row">
            @foreach (var device in AllDevices)
            {
                <DeviceCard Device="@device" />
            }
        </div>
    }
</div>
    }
</div>


@code {
    private IEnumerable<Device> AllDevices { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AllDevices = await DeviceApi.GetPublishedDevicesAsync("");
            
    }

}
