@page "/subscriptions"
@inject IUserApi UserApi
@layout Shared.MainLayout

<h1>Subscribed devices</h1>

<div id="ticket-list">
    @if (allDevices == null)
    {
        <h2>Loading subscribed devices...</h2>
    }
    else
    {
        @if (allDevices.Count() == 0)
        {
            <h3>You are not subscribed to any devices</h3>
        }
        else
        {
            <div class="row">
                @foreach (var device in allDevices)
                {
                    <DeviceCard Device="@device" />
                }
            </div>
        }
    }
</div>


@code {
    private IEnumerable<Device> allDevices { get; set; }

    protected override async Task OnInitializedAsync()
    {
        allDevices = await UserApi.GetSubscribedDevicesAsync(0);
    }
}