<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="">
        <img src="http://www.esystems.com/wp-content/uploads/iot.png" width="30" />
        IoT Portal
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    My Devices
                </NavLink>
            </li>
            <li class="nav-item active">
                <NavLink class="nav-link" href="subscriptions">
                    Subscriptions
                </NavLink>
            </li>
            <li class="nav-item active">
                <NavLink class="nav-link" href="search">
                    Search
                </NavLink>
            </li>
            <li class="nav-item active">
                <NavLink class="nav-link" href="profile">
                    Profile
                </NavLink>
            </li>
        </ul>
    </div>
</nav>

@code {
}
